<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>


{% load static %}


  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>File: <input type="file" name="myfiles"> </p>
    <p>Directory: <input type="file" name="myfiles" webkitdirectory mozdirectory /></p>
    <button type="submit">Upload</button>
  </form>

    <script>
        function traverseFileTree(item, path) {
          path = path || "";
          if (item.isFile) {
            // Get file
            item.file(function(file) {
              console.log("File:", path + file.name);
            });
          } else if (item.isDirectory) {
            // Get folder contents
            var dirReader = item.createReader();
            dirReader.readEntries(function(entries) {
              for (var i=0; i<entries.length; i++) {
                traverseFileTree(entries[i], path + item.name + "/");
              }
            });
          }
        }

        dropArea.addEventListener("drop", function(event) {
          event.preventDefault();

          var items = event.dataTransfer.items;
          for (var i=0; i<items.length; i++) {
            // webkitGetAsEntry is where the magic happens
            var item = items[i].webkitGetAsEntry();
            if (item) {
              traverseFileTree(item);
            }
          }
        }, false);
    </script>
</body>
</html>